.InputfieldNestedCheckboxes { margin-left:-7px; margin-top:-5px;
	.inc-container { display:none;
		&.init { display:block; }
	}
	.inc-parent, .inc-grandparent { position:relative; padding-left:25px; margin-top:5px;
		.inc-branch-toggle { position:absolute; top:0; left:7px; cursor:pointer; padding:4px 8px 4px 0; opacity:0.5;
			&:hover { opacity:1; }
		}
		&.collapsed {
			.inc-branch-toggle { padding:3px 3px 5px 5px;
				&:before { content:"\f105"; }
			}
			> .inc-parent, > ul { display:none; }
		}
	}
	ul { list-style-type:none; padding-left:25px; margin:0;
		// Override AOS style
		&[class*="InputfieldCheckboxes"] {
			&:before { content:none; }
		}
	}
	label {
		input[type="checkbox"] { margin-right: 0.5em;
			body.AdminThemeUikitDefault &:indeterminate { background-color:var(--pw-main-color); }
		}
	}
}
