.pg-wrap .pg-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; }
.pg-wrap .pg-display-wrap {
  position: relative; }
.pg-wrap .pg-display {
  padding: 0 10px;
  line-height: 38px;
  background-color: #ededed;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  height: 100%;
  width: 300px; }
.pg-wrap .pg-copy {
  border: 0;
  background: none;
  position: absolute;
  width: 40px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.4; }
  .pg-wrap .pg-copy:hover {
    opacity: 0.6; }
