body.role-admin {
    font-family: 'Roboto Condensed',sans-serif;



.Inputfield_ProcessPageEditInfo{ display:none; }

  
  #ProcessPageEditReferences{ display:none; }
  #ProcessPageEditRoles{ display:none; }
}

  #pw-content-title{ font-size:1.3rem!important; }